body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.containter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.reg-auth {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reg-auth h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.reg-auth form {
  width: 40%;
}

.reg-auth .input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 15px;
  margin: 10px 0px;
  transition: 0.5s;
  padding: 0px 10px;
}
.reg-auth .input:hover {
  border: 1px solid red;
  transition: 0.5s;
}
.reg-auth label {
  font-size: 20px;
}

.reg-auth .submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.reg-auth .submit {
  width: 60%;
  height: 40px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  margin: 0 auto;
}

.reg-auth .submit:hover {
  background-color: rgb(218, 19, 19);
  transition: 0.5s;
}

.reg-auth p {
  font-size: 19px;
  padding: 10px 0px;
}
.reg-auth p a {
  color: red;
}


@media screen and (max-width: 425px) {
  .reg-auth form {
    width: 80%;
  }
}



/* Dashboard */

.dashboard-header {
  width: 100%;
}

.nav {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color:#3b5998;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 0.8;
}
.logo h4 {
  font-size: 25px;
}

.nav .burger {
  cursor: pointer;
}
.nav .burger div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.nav-ul {
  position: fixed;
  width: 0px;
  height: 100vh;
  background-color: cornflowerblue;
  right: 0;
  top: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.nav-ul .close {
  font-size: 40px;
}
.nav-ul .close span {
  position: absolute;
  left: 15px;
  cursor: pointer;
}

/* user info */

.nav-ul .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.user-info .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-avatar .avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.user-avatar .user-detail {
  text-align: center;
  padding: 10px 0px;
  line-height: 1.8rem;
}
.user-detail h3 {
  font-size: 17px;
}
.user-detail span {
  font-size: 16px;
  color: whitesmoke;
}


/* Log Out */

.logout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}