<body>
    <div class="reg-auth">
        <h1>Login In</h1>
        <%- include('msg/messages'); %>
        <form action="/user/a" method="POST">
            <div>
                <label for="email">ე-მაილი</label>
                <input type="email" name="email" class="input"
                placeholder="დაწერეთ ემაილი.."
                />
            </div>
            <div>
                <label for="password">პაროლი</label>
                <input type="password" name="password" class="input"
                placeholder="დაწერეთ პაროლი.."
                />
            </div>
            <div class="submit-box">
                <input type="submit" class="submit" value="რეგისტრაცია">
                <p>არ გაქვს <a href="/user/r">ანგარიში?</a></p>
            </div>
        </form>
    </div>
</body>