<body>
    <div class="reg-auth">
        <h1>Registration</h1>
         <%- include('msg/messages'); %>
        <form action="/user/r" method="POST">
            <div>
                <label for="name">სახელი</label>
                <input type="text" name="name" class="input"
                placeholder="დაწერეთ სახელი.." value="<%= typeof name != 'undefined' ? name : '' %>"
                />
            </div>
            <div>
                <label for="email">ე-მაილი</label>
                <input type="email" name="email" class="input"
                placeholder="დაწერეთ ემაილი.." value="<%= typeof email != 'undefined' ? email : '' %>"
                />
            </div>
            <div>
                <label for="number">მობილური ნომერი</label>
                <input type="number" name="number" class="input"
                placeholder="დაწერეთ მბ.ნომერი.." value="<%= typeof number != 'undefined' ? number : '' %>"
                />
            </div>
            <div>
                <label for="password">პაროლი</label>
                <input type="password" name="password" class="input"
                placeholder="დაწერეთ პაროლი.." value="<%= typeof password != 'undefined' ? password : '' %>"
                />
            </div>
            <div>
                <label for="password2">გაიმეორეთ პაროლი</label>
                <input type="password" name="password2" class="input"
                placeholder="გაიმეორეთ პაროლი.." value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
            </div>
            <div class="submit-box">
                <input type="submit" class="submit" value="რეგისტრაცია">
                <p>გაქვს <a href="/user/a">ანგარიში?</a></p>
            </div>
        </form>
    </div>
</body>
